.friend_section{
    height: 100%;
    border-top: 1px solid #dadada;
}
.friend_main{
    height: 95px;
    text-align: center;
}
.user_div{
    display: flex;
}
.user_div>div{
    align-self: center;
}
.user_div img{
    margin:10px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
}
.user_div div>p{
    font-weight: 700;
}
.blank{
    height: 25px;
    widows: 100%;
    border-top: 1px solid #dadada;;
    border-bottom: 1px solid #dadada;
}
.friend_div{
    position: relative;
    display: flex;
}
.friend_div img{
    position: absolute;
    width: 20px;
    height: 20px;
    align-self: center;
    right: 0;
    cursor: pointer;
}
.friend_div p{
 margin: 10px;
 color:#cecece;
}
.f_div{
    display: flex;
    position: relative;
}
.friend_id{
    all:unset;
    width: 100%;
    height: 20px;
    border-top: 1px solid #dadada;;
    padding:5px;
    flex-grow: 1;
}
.friend_id+span{
    position: absolute;
    right: 5px;
    cursor:pointer;
    font-weight:bold;
    visibility:hidden;
    align-self: center;
}
