.more_section{
    height: 100%;
    border-bottom: 1px solid #dadada;
}
.more{
    border-bottom: 5px solid #9c9c9c3d;
}
.more_main{
    height: 95px;
    text-align: center;
}
.more_options{
    display: flex;
    height: 100px;
    text-align: center;
    align-items: center;
}
.more_options div{
    flex-grow: 1;
    font-weight: 700;
    cursor: pointer;
}
.more_main>div{
    position: relative;
}
.user_div img{
    margin:10px;
    width: 45px;
    height: 45px;
    border-radius: 30px;
}
.user_div div>p{
    font-weight: 700;
}
